<h1>Comments</h1>

<div class="basic-container">
<ol>
  <% @comments.each do |comment| %>
    <li>
      <form id="vote" action="/vote/comment/<%= comment.id %>" method="POST">
      <input type="submit" value="+1" > 
      </form>
      <span id="points"> points:<%= comment.comment_vote.vote_count %> </span> <a href="/post?id=<%= comment.post.id %>"><%= comment.post.title %></a><br/>
      <%= comment.text %> <br/>
      <span class="timestamps"> posted at: <%= comment.created_at %></span></li>
  <% end %>
</ol>
</div>
