<a href="<%= @post.full_url %>"><%= @post.title %></a> (<%= @post.full_url %>)
<p>Posted by <%= @post.user.username %> | Created at : <span class="timestamps"><%= @post.created_at %></span></p>

<form action="post/<%= @post.id %>/new_comment" method="post">
  <label for="comment-text"></label>
  <textarea id="comment-text" name="text"></textarea><br>
  <input type="submit" value="Add Comment">
</form>


<%= erb :_show_comments %>

