<p>user: <%= @user.id  %></p>
<p>created: <%= @user.created_at %></p>
<p>karma: <%= @user.karma %></p>

<% if current_user.id == @user.id %>
  <div class="basic-container">
    <p>Update Profile</p>
    <form id="profile" action="/user/<%= current_user.id %>/update" method="post">
      <input type="text" name="user[username]" placeholder="change username" value="<%= @user.username %>"><br>
      <input type="password" name="user[password]" placeholder="change password"><br>
      <input type="password" name="user[password_confirmation]" placeholder="confirm password"><br>

      <input type="submit" value="Update Profile">
    </form>
  </div>
<% end %>


<a href="/user/<%= @user.id %>/posts">submissions</a><br>
<a href="/user/<%= @user.id %>/comments">comments</a>

